---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
import AppFeatures from "../components/AppFeatures.astro";
import AboutTeam from "../components/AboutTeam.astro";
---

<Layout title="IncluirTech">
	<nav class="bg-white flex justify-around items-center p-4 md:p-8">
		<a href="#">
			<div class="flex gap-4 items-center animate-bounce-slow">
				<img class="h-8 md:h-12  sm:h-4" src="/incluirtech-icon.svg" alt="CitySOS Logo"/>
				<h1 class="text-3xl font-bold text-black">IncluirTech</h1>
			</div>
		</a>
	</nav>
	<main class="grid gap-4 md:gap-8">
		<Hero id="#top-page" />
		<AppFeatures id="features" />
		<AboutTeam id="about" />
		<footer class="bg-black text-white text-center px-4 py-12">
			<div class="container mx-auto flex flex-col gap-8">
				<div class="grid md:grid-cols-2 gap-4">
					<div class="grid text-center md:text-start p-4 gap-4">
						<div class="flex flex-col gap-4">
							<h1 class="text-xl md:text-3xl font-bold">INCLUIRTECH</h1>
							<p class="md:text-lg">IncluirTech is a platform designed to connect individuals with physical and sensory disabilities with remote, on-site, and flexible job opportunities.</p>
						</div>
					</div>
					<div class="grid p-4 justify-center md:justify-end">
						<img src="/incluirtech_filled.svg" alt="CitySOS Logo" class="h-16 w-auto mx-auto"/>
					</div>
				</div>
				<hr>
				<p class="md:text-lg">IncluirTech  |  2024  |  Universidad Peruana de Ciencias Aplicadas</p>
			</div>
		</footer>
	</main>
</Layout>
