---

---

<section id="features">
    <div class="container mx-auto py-8">
        <div class="grid md:grid-cols-2 gap-4 md:gap-12">
            <div class="flex flex-col gap-6 md:gap-12 p-4 md:p-12 text-center md:text-left items-center md:items-start">
                <h1 class="text-3xl md:text-5xl font-extrabold">
                    We aim to close the employment gap for people with sensory disabilities
                </h1>
                <div class="bg-secondary py-1 md:py-2 w-1/2" />
                <p class="text-medium text-lg md:text-2xl">
                    <span class="text-primary font-bold">IncluirTech</span>
                    is a platform that connects people with sensory disabilities to inclusive job opportunities,
                    We offer remote and flexible jobs, specialized training, and consulting services to
                    create inclusive and adapted work environments, fostering a more equitable future for everyone.
                </p>
            </div>
            <div class="flex flex-col gap-8 p-4">
                <div class="group shadow drop-shadow-2xl rounded-2xl hover:bg-primary hover:translate-x-2 duration-200">
                    <div class="flex p-8 gap-8">
                        <ion-icon name="accessibility" class="text-primary group-hover:text-white text-8xl"></ion-icon>
                        <div class="flex flex-col gap-4 group-hover:text-white">
                            <h3 class="text-xl md:text-2xl font-bold uppercase">Inclusive Job Opportunities</h3>
                            <p class="md:text-xl text-grey group-hover:text-white">
                                We connect job seekers with sensory disabilities (hearing, speech, vision) to remote, on-site,
                                and flexible employment opportunities, ensuring accessibility and inclusion in the workplace.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="group shadow drop-shadow-2xl rounded-2xl hover:bg-primary hover:translate-x-2 duration-200">
                    <div class="flex p-8 gap-8">
                        <ion-icon name="settings" class="text-primary group-hover:text-white text-8xl"></ion-icon>
                        <div class="flex flex-col gap-4 group-hover:text-white">
                            <h3 class="text-xl md:text-2xl font-bold uppercase">Specialized Training</h3>
                            <p class="md:text-xl text-grey group-hover:text-white">
                                Our platform offers virtual assistants, Resume building tools, and interview simulators tailored
                                for people with disabilities to help them secure job opportunities.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="group shadow drop-shadow-2xl rounded-2xl hover:bg-primary hover:translate-x-2 duration-200">
                    <div class="flex p-8 gap-8">
                        <ion-icon name="bag-handle" class="text-primary group-hover:text-white text-8xl"></ion-icon>
                        <div class="flex flex-col gap-4 group-hover:text-white">
                            <h3 class="text-lg md:text-2xl font-bold uppercase">Employer Support</h3>
                            <p class="md:text-xl text-grey group-hover:text-white">
                                We provide companies with training to create inclusive work environments, aligned with
                                with ODS #8 (Decent Work and Economic Growth) and ODS #10 (Reduced Inequalities).
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pb-8 md:pb-12">
        <div class="container mx-auto">
            <div class="flex flex-col items-center">
                <div class="flex gap-2 text-center justify-center items-center">
                    <img src="/who-ods.png" alt="Who ODS Logo" class="w-16 h-16">
                    <h1 class="text-3xl md:text-5xl text-secondary font-extrabold">
                        Aligned With SDGs
                    </h1>
                </div>
                <p class="font-medium md:text-lg">United Nations Sustainable Development Goals</p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8">
                <div class="flex flex-col items-center rounded-lg p-6 text-center">
                    <img src="/E_GIF_08.gif" alt="SDG 8 Icon" class="w-1/3 mb-4 rounded-3xl">
                    <h2 class="text-xl md:text-3xl font-extrabold text-primary mb-2">
                        SDG 8: Decent Work and Economic Growth
                    </h2>
                    <p class="text-black md:text-xl">
                        We are committed to promoting sustained, inclusive, and sustainable economic growth, full and productive employment, and decent work for all, with a particular focus on individuals with sensory disabilities.
                    </p>
                </div>
                <div class="flex flex-col items-center rounded-lg p-6 text-center">
                    <img src="/E_GIF_10.gif" alt="SDG 10 Icon" class="w-1/3 mb-4 rounded-3xl">
                    <h2 class="text-xl md:text-3xl font-extrabold text-primary mb-2">
                        SDG 10: Reduced Inequalities
                    </h2>
                    <p class="text-black md:text-xl">
                        We strive to reduce inequalities by fostering inclusivity in the workplace and providing equal opportunities for individuals with sensory disabilities, helping to bridge the employment gap.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-cream">
        <div class="container mx-auto">
            <div class="flex flex-wrap p-8">
                <div class="w-full md:w-1/2 flex flex-col gap-4 p-6 md:p-12">
                    <ion-icon
                            class="text-2xl md:text-4xl text-black"
                            name="golf"></ion-icon>
                    <h1 class="text-3xl font-extrabold text-black underline decoration-primary decoration-8">
                        Mission
                    </h1>
                    <p class="md:text-xl">
                        Our mission is to significantly reduce employment barriers for individuals with sensory disabilities
                        through innovative technological solutions. We seek to change the way companies perceive disability,
                        transforming challenges into valuable opportunities.
                    </p>
                </div>
                <div class="w-full md:w-1/2 flex flex-col gap-4 p-6 md:p-12">
                    <ion-icon
                            class="text-2xl md:text-4xl text-black"
                            name="eye"></ion-icon>
                    <h1 class="text-3xl font-extrabold text-black underline decoration-primary decoration-8">
                        Vision
                    </h1>
                    <p class="md:text-xl">
                        Our vision is to be the leading platform for job inclusion for individuals with sensory disabilities
                        in Latin America, promoting a more accessible, equitable, and adapted labor market for everyone.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>