---

---

<section class="container mx-auto py-8" id="features">
    <div class="grid gap-2 text-center justify-center p-4">
        <h1 class="uppercase text-xl md:text-3xl text-secondary font-extrabold">What is incluirtech?</h1>
        <p class="text-medium text-lg md:text-xl max-w-5xl">
            <span class="text-primary font-bold">IncluirTech</span> is a platform that connects people with physical and sensory disabilities
            to inclusive job opportunities, offering training and tools for both job seekers and employers to create accessible work environments.
        </p>
    </div>
    <div class="grid md:grid-cols-2">
        <div class="hidden md:flex justify-center items-center bg-cover bg-center blob-bg">
            <div class="bg-cover bg-centerp-6 md:px-12 lg:px-16">
                <img class="select-none rounded-xl"
                     draggable="false"
                     src="./features-demo.webp" alt="CitySOS Demo">
            </div>
        </div>
        <div class="flex flex-col gap-8 p-4">
            <div class="group shadow drop-shadow-2xl rounded-2xl hover:bg-primary hover:translate-x-2 duration-200">
                <div class="flex p-8 gap-8">
                    <ion-icon name="checkmark-circle" class="text-primary group-hover:text-white text-3xl"></ion-icon>
                    <div class="flex flex-col gap-4 group-hover:text-white">
                        <h3 class="text-lg md:text-2xl font-bold uppercase">Inclusive Job Opportunities</h3>
                        <p class="md:text-lg text-justify text-grey group-hover:text-white">
                            We connect job seekers with sensory disabilities (hearing, speech, vision) to remote, on-site,
                            and flexible employment opportunities, ensuring accessibility and inclusion in the workplace.
                        </p>
                    </div>
                </div>
            </div>
            <div class="group shadow drop-shadow-2xl rounded-2xl hover:bg-primary hover:translate-x-2 duration-200">
                <div class="flex p-8 gap-8">
                    <ion-icon name="checkmark-circle" class="text-primary group-hover:text-white text-3xl"></ion-icon>
                    <div class="flex flex-col gap-4 group-hover:text-white">
                        <h3 class="text-lg md:text-2xl font-bold uppercase">Specialized Training</h3>
                        <p class="md:text-lg text-justify text-grey group-hover:text-white">
                            Our platform offers virtual assistants, CV tools, and interview simulators tailored
                            for people with disabilities to help them secure job opportunities.
                        </p>
                    </div>
                </div>
            </div>
            <div class="group shadow drop-shadow-2xl rounded-2xl hover:bg-primary hover:translate-x-2 duration-200">
                <div class="flex p-8 gap-8">
                    <ion-icon name="checkmark-circle" class="text-primary group-hover:text-white text-3xl"></ion-icon>
                    <div class="flex flex-col gap-4 group-hover:text-white">
                        <h3 class="text-lg md:text-2xl font-bold uppercase">Employer Support</h3>
                        <p class="md:text-lg text-justify text-grey group-hover:text-white">
                            We provide companies with training to create inclusive work environments, aligned with
                            with ODS #8 (Decent Work and Economic Growth) and ODS #10 (Reduced Inequalities).
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<style>
    ion-icon {
        font-size: 64px;
    }
</style>