---

---
<footer class="bg-black text-white text-center px-4 py-12">
    <div class="container mx-auto flex flex-col gap-8">
        <div class="grid md:grid-cols-2 gap-4">
            <div class="grid text-center md:text-start p-4 gap-4">
                <div class="flex flex-col gap-4">
                    <h1 class="text-xl md:text-3xl font-bold">IncluirTech</h1>
                    <p class="md:text-lg">
                        This project is currently in development and not yet available.
                        We are working hard to bring it to you soon!
                    </p>
                </div>
            </div>
            <!-- Logo -->
            <div class="grid p-4 justify-center md:justify-end">
                <img src="/incluirtech_filled.svg" alt="CitySOS Logo" class="h-16 w-auto mx-auto"/>
            </div>
        </div>

        <div class="flex justify-center gap-8 mt-4">
            <a href="mailto:contact.incluirtech@gmail.com" class="text-white hover:text-gray-400">
                <ion-icon name="mail" class="text-3xl"></ion-icon>
            </a>
            <a href="https://www.instagram.com/incluir_tech" target="_blank" class="text-white hover:text-gray-400">
                <ion-icon name="logo-instagram" class="text-3xl"></ion-icon>
            </a>
            <a href="https://www.tiktok.com/@incluir_tech" target="_blank" class="text-white hover:text-gray-400">
                <ion-icon name="logo-tiktok" class="text-3xl"></ion-icon>
            </a>
        </div>

        <hr>
        <p class="md:text-lg">IncluirTech  |  2024  |  Universidad Peruana de Ciencias Aplicadas</p>
    </div>
</footer>
