---

---

<section class="flex flex-col items-center content-center center">
    <div class="flex flex-col gap-6 max-w-6xl p-4">
        <h1 class="text-4xl md:text-6xl font-bold text-center">
            Connecting People With Disabilities To Inclusive Job Opportunities
        </h1>
        <a href="#features" class="text-secondary underline md:text-lg font-bold text-center">
            Learn More
        </a>
    </div>
    <div class="w-full h-96 md:h-[540px] overflow-hidden">
        <img src="/incluirtech-hero-image.png"
             alt="Person using computer for inclusive job opportunities"
             class="object-cover w-full h-full object-center"
        />
    </div>
</section>